#==========================================================================
# osx noise
#==========================================================================
.DS_Store
._*

#==========================================================================
# textmate noise
#==========================================================================
*.tmproj

#==========================================================================
# other noise
#==========================================================================
config
*.gem
examples/*
